<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Une erreure est survenue</h2>

<p>
  Nous sommes désolé, une erreure est survenue.
</p>

</div>

</body>
</html>
