<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Liste des pizzas</h2>

<ul>
    <% pizzas.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %> - <%= r.price %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
